@font-face {
    font-family: 'lato';
    src: url(./font/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Mulish';
    src: url(./font/Mulish-Regular.ttf);
}


* {
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}


/* NAV BAR SECTION ST */
.navbar {
    margin: 10px 0px;
}

.navbar button {
    background: #00464E;
    color: #fff;
    border-radius: 5px !important;
}

.navbar button:hover {
    background: #015b65;
}

.navbar ul li a {
    border: 1px solid #35353578;
    border-radius: 5px;
    padding: 8px 12px;
    color: #47667e;
    font-size: 13px;
}

.navbar ul li a:hover {
    border: 1px solid #000 !important;
    border-radius: 5px !important;
    color: #555555;
}

.navbar ul li:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
}

.navbar ul li a img {
    width: 20px;
    margin-top: -4px;
}

.fa-cart-arrow-down {
    font-size: 15px;
    font-weight: bold;
}



/* NAV BAR SECTION END */


/* SECOND NAV BAR SECTION ST */
.second-main ul li a {
    color: #00464E;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.1s;
}

.second-main ul li a:hover {
    border-bottom: 4px solid #00464E;
    color: #00464E;

}

.second-main ul {
    margin: -16px 0px;
}

/* SECOND NAV BAR SECTION END */


.w-20 {
    width: 15%;
}

.border-1 {
    border-right: 1px solid #000;
}

.w-80 {
    width: 85%;
}


/* HERO SECTION ST  */

.hero-heding h2{
    font-size: 24px;
    font-family: 'lato';
    letter-spacing: 1px;
}

.hero-heding p{
    font-size: 12px;
}


.sec-hedong-card h2{
    font-size: 18px;
    font-family: 'lato';
    font-weight: bold;
    letter-spacing: 1px;
}

.sec-hedong-card h2 span{
    color:#111111;
    font-size: 12px;
}

.sec-hedong-card p{
    font-size: 12px;
}

.sec-hedong-card a{
    background: #EAEDED;
    border: 1px solid #555;
    color: #555555;
    font-weight: bold;
}

.collection-card {
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.collection-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.collection-card img {
    height: 260px;
    width: 100%;
    border-radius: 8px;
}

/* HERO SECTION END */

/* FOOTER SECTION ST */


.footer-con h4{
    font-family: 'lato';
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
    
}

.footer-con ul li {
    padding-bottom: 10px;
}

.footer-con ul li a{
    color: #47667e;
    padding-bottom: 10px;
}

.footer-con ul li a:hover,
.sec-footer-con ul li a:hover,
.sec-footer-con a:hover{
    text-decoration: underline !important;
}

.footer-con ul li a i{
    font-size: 30px;
    color: #000;
}

/* FOOTER SECTION END */

/* SECOND FOOTER SECTION ST */

.sec-footer-con ul li a{
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con a{
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con span {
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con span a{
    color: #74008c;
    font-weight: bold;
    letter-spacing: 1px;
}


/* SECOND FOOTER SECTION END */
