@font-face {
    font-family: 'lato';
    src: url(./font/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Mulish';
    src: url(./font/Mulish-Regular.ttf);
}


* {
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}

/* SEARCH SECTION ST */


.Search-main{
    font-family: 'lato';
    letter-spacing: 1px;
}

.input-group input{
    border: 1px solid #555555 !important;
}

.input-group input:focus{
    border: 2px solid #000 !important;
    box-shadow: none;
}


/* SEARCH SECTION END*/


/* HEORO SECTION ST */

.hero-heding{
    font-size: 32px !important;
    font-family: 'lato';
    letter-spacing: 2px;
    color: #000;
}
.card-1 {
    transition: 0.5s;
}

.card-1:hover{
    background: #55555518;
}

.card-1 h5{
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
}

.hero-sec-para a{
    font-size: 20px;
    color: #0794aa;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-sec-para a:hover{
    text-decoration: underline !important;
}

.hero-sec-para p{
    font-size: 16px;
    color: #000;
    width: 80%;
    letter-spacing: 1px;
}

/* HEORO SECTION END */

/* THERD HERO SECTION ST  */

.therd-main-bg{
    background: #F5F9FA;
}

.therd-heding{
    font-size: 32px;
    font-weight: bold;
    font-family: 'lato';
    letter-spacing: 1px;
}

.card  h4{
    font-size: 20px;
    color: #000;
    font-family: 'lato';
    letter-spacing: 0.5px;
}

.card p{
    font-size: 14px;
    color: #555555;
}

.card a{
    color: #008296;
    font-size: 16px;
}

.card:hover{
    border: 1px solid #008296;
    background: #b0b0b004;
}
/* THERD HERO SECTION END */

/* FOR HERO SECTION ST */

.four-main h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'lato';
    letter-spacing: 1px;
}

.four-main a{
    padding: 10px 10px;
    width: 10%;
    background: #008296;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.four-main a:hover{
    border: 1px solid #000;
}
/* FOR HERO SECTION END */

/* FOOTER SECTION ST */


.footer-con h4{
    font-family: 'lato';
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
    
}

.footer-con ul li {
    padding-bottom: 10px;
}

.footer-con ul li a{
    color: #47667e;
    padding-bottom: 10px;
}

.footer-con ul li a:hover,
.sec-footer-con ul li a:hover,
.sec-footer-con a:hover{
    text-decoration: underline !important;
}

.footer-con ul li a i{
    font-size: 30px;
    color: #000;
}

/* FOOTER SECTION END */

/* SECOND FOOTER SECTION ST */

.sec-footer-con ul li a{
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con a{
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con span {
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con span a{
    color: #74008c;
    font-weight: bold;
    letter-spacing: 1px;
}


/* SECOND FOOTER SECTION END */

