@font-face {
    font-family: 'lato';
    src: url(./font/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Mulish';
    src: url(./font/Mulish-Regular.ttf);
}


* {
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}


/* NAV BAR SECTION ST */
.navbar {
    margin: 10px 0px;
}

.navbar button {
    background: #00464E;
    color: #fff;
    border-radius: 5px !important;
}

.navbar button:hover {
    background: #015b65;
}

.navbar ul li a {
    border: 1px solid #35353578;
    border-radius: 5px;
    padding: 8px 12px;
    color: #47667e;
    font-size: 13px;
}

.navbar ul li a:hover {
    border: 1px solid #000 !important;
    border-radius: 5px !important;
    color: #555555;
}

.navbar ul li:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
}

.navbar ul li a img {
    width: 20px;
    margin-top: -4px;
}

.fa-cart-arrow-down {
    font-size: 15px;
    font-weight: bold;
}



/* NAV BAR SECTION END */


/* SECOND NAV BAR SECTION ST */
.second-main ul li a {
    color: #00464E;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.1s;
}

.second-main ul li a:hover {
    border-bottom: 4px solid #00464E;
    color: #00464E;

}

.second-main ul {
    margin: -16px 0px;
}

/* SECOND NAV BAR SECTION END */

/* HERO SECTION ST */

.therd-main span {
    color: #C7002C;
    font-size: 12px;
    font-family: 'lato';
    font-weight: bold;
}

.therd-main h1 {
    font-size: 38px;
    color: #111111;
    font-family: 'lato';
    font-weight: bold;
}

.therd-main p {
    font-size: 18px;
    line-height: 1.45rem;
    color: #555555;
    letter-spacing: 0.5px;
}

.therd-main p span {
    color: #008296;
    font-size: 18px;
    font-weight: 600;
}

/* HERO SECTION END */

/* SECOND SECTION ST */

.btn-serch button {
    margin-right: -100px !important;
}

.book-line {
    font-weight: bold;
    font-family: 'lato';
    letter-spacing: 1px;
    color: #111111;
}

/* SECTION SECTION end */

/* THERD SECTION ST */

.four-main-bg{
    background: #232F3E;
}

.four-main h1 {
    font-size: 38px;
    font-family: 'lato';
    font-weight: bold;
    letter-spacing: 1px;
}

.four-main {
    margin: 100px 0px;
    font-family: 'Mulish';
}

.custom-img {
    width: 100%;
    height: 150px;
    /* Height tum change kar sakte ho */
    object-fit: cover;
    /* Image crop */
    object-position: center;
    /* Sirf center part dikhaye */
    
}

/* THERD SECTION END */

/* FOURE SECTION ST */

.six-main {
    background: #F5F7F6;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 100px;
}

.six-con h1 {
    font-size: 38px;
    font-weight: bold !important;
    font-family: 'lato';
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.six-con p {
    font-size: 18px;
    width: 80%;
    color: #555555;
}

.six-con p span {
    color: #008296;
    font-weight: 600;
}

.six-con ul li {
    list-style: disc;
    font-size: 18px;
    padding-bottom: 10px;
    color: #555555;
}

.six-con ul {
    width: 100%;
}

.six-con ul li a {
    color: #555555;
}

.six-con ul li:hover>a {
    color: #008296;
    font-weight: bold;
}

.six-con .six-img {
    width: 50%;
}

.six-img img {
    border-radius: 10px;
    width: 100%;

}

/* FOURE SECTION END */

/* FIVE SECTION ST */

.seven-heding h1 {
    font-size: 24px;
    font-family: 'lato';
    letter-spacing: 1px;
}

.seven-heding a {
    border: 1px solid #008296;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: #008296;
    letter-spacing: 1px;
    transition: 0.5s;
}

.seven-heding a:hover {
    background: #008296;
    color: #fff;
}

.sev-book-card .card {
    flex: 0 0 calc(20% - 10px);
}

.sev-book-card img {
    height: 230px;
    /* same height for all images */
    width: 100%;
    object-fit: contain;
    /* image ka shape disturbe nahi hoga */
    background-color: #f5f5f5;
    border-radius: 6px;
}

.sev-book-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sev-book-card .card-body p {
    margin-top: auto;
    /* price bottom me fix */
}

/* Tablet */
@media (max-width: 992px) {
    .sev-book-card .card {
        flex: 0 0 calc(33.33% - 10px);
    }
}

/* Mobile */
@media (max-width: 576px) {
    .sev-book-card .card {
        flex: 0 0 calc(50% - 10px);
    }
}

/* FIVE SECTION END 0 */


/* SIX HERO SECTION ST */

.eight-main{
    background: #F5F7F6;
    border-radius: 10px;
    margin-bottom: 100px;
}

.eight-heding h1{
    font-family: 'lato';
    color: #111111;
    font-size: 38px;
    letter-spacing: 1px;
}

.book-p{
    font-family: 'lato';
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    color: #111111;
    text-decoration: underline !important;
}

.book-p:hover{
    color: #008296 ;
}

.card-text{
    font-size: 15px;
    color: #555555;
    line-height: 23px;
}

/* SIX HERO SECTION END */

/* EIGHT HERO SECTION ST */


.nine-main{
    background: #F5F7F6;
    border-radius: 10px;
    margin-bottom: 100px;
}

.nine-book-con a{
    color: #C7002C;
    text-transform: uppercase;
    font-size: 12px;letter-spacing: 1px;
}

.nine-book-con h1{
    font-family: 'lato';
    letter-spacing: 1px;
    font-size: 38px;
}

.nine-book-con p{
    font-size: 18px;
    color: #555555;
    padding-bottom: 20px;
}

.nine-btn{
    padding: 13px 20px !important;
    border: 1px solid #008296;
    border-radius: 30px;
    text-transform: capitalize !important; 
    background: #fff;
    font-weight: bold;
    font-size: 14px !important;
    color: #008296 !important;
    transition: 0.5s;
}

.nine-btn:hover{
    background: #008296;
    color: #fff !important;

}
/* EIGHT HERO SECTION END */

/* TEN HERO SECTION ST */
.ten-main{
    background: #f7fcfc;
    border-radius: 10px;
    margin-bottom: 100px;
}

.ten-heding-book h1{
    font-size: 38px;
    font-family: 'lato';
    letter-spacing: 1px;
}

.ten-card-align a{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'lato';
}

.ten-card-align p{
    font-size: 16px;
    color: #555555;
}
/* TEN HERO SECTION END */

/* 13 HERO SECTION ST */

.eight-mains{
    margin-bottom: 100px;
}

/* 13 HERO SECTION END */

/* 14 HERO SECTION ST */

.fourty-bg{
    background: #EFF5ED;
}

.fourty-main{
    margin-bottom: 50px;
}

.fourty-con h1{
    font-size: 38px;
    font-family: 'lato';
    letter-spacing: 1px;
}

.fourty-con a{
    border: 1px solid #008296 !important;
    padding: 10px 20px;
    border-radius: 20px;
    background: #fff !important;
    color: #008296;font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;
}

.fourty-con a:hover{
    background: #008296 !important;
    color: #fff;

}

.fourty-card .card a{
    color: #C7002C;
    font-size: 13px;
    font-family: 'lato';
    transition: 0.5s;
}

.fourty-card .card a:hover{
    border-bottom: 1px solid #C7002C;
}

.fourty-card .card p{
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0px;
    font-family: 'lato';
    transition: 0.5s;
}

.fourty-card .card p:hover{
    color: #008296;
}
/* 14 HERO SECTION END */

/* FOOTER SECTION ST */


.footer-con h4{
    font-family: 'lato';
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
    
}

.footer-con ul li {
    padding-bottom: 10px;
}

.footer-con ul li a{
    color: #47667e;
    padding-bottom: 10px;
}

.footer-con ul li a:hover,
.sec-footer-con ul li a:hover,
.sec-footer-con a:hover{
    text-decoration: underline !important;
}

.footer-con ul li a i{
    font-size: 30px;
    color: #000;
}

/* FOOTER SECTION END */

/* SECOND FOOTER SECTION ST */

.sec-footer-con ul li a{
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con a{
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con span {
    color: #47667e;
    font-size: 15px;
}

.sec-footer-con span a{
    color: #74008c;
    font-weight: bold;
    letter-spacing: 1px;
}


/* SECOND FOOTER SECTION END */
