@font-face {
    font-family: 'lato';
    src: url(./font/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Mulish';
    src: url(./font/Mulish-Regular.ttf);
}

* {
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;  /* Tum apne USD click se show karoge */
    padding: 20px;
}

.popup-box {
    background: white;
    width: 600px;              /* Choti width */
    max-width: 100%;           /* Mobile responsive */
    border-radius: 8px;
    padding: 20px;
    animation: fadeIn 0.3s ease;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h5{
    font-family: 'lato';
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
}

.popup-body P span{
    color: #003399;
    font-weight: bold;
    letter-spacing: 1px;
}

.popup-body P span:hover{
    text-decoration: underline !important;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.small-text {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}


.btn-1{
    background:#55555524;
    outline: none;
    border: 1px solid #55555514;
    border-radius: 5px;
}

.btn-1:hover{
    background: #5555553b;
}

.btn-2{
    background: #008296 !important;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.btn-2:hover{
    background: #025b69 !important;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}
